.menu-fill {
	position: fixed;
	top: 0px;
	justify-content: center;
	width: 100vw;
	pointer-events: none;
	z-index: 10;
	.menu {
		font-size: larger;
		font-weight: bold;
		background: $bgMenu;
		border-radius: 0px 0px 50px 50px;
		flex-direction: row;
		overflow: hidden;
		box-shadow: $box-shadow;

		color: $letterSecondary;
		font-weight: bold;
		border: $borderSecondary-2;
		border-top: none;
		div {
			pointer-events: auto;
			border-left: $borderSecondary-1;
			border-right: $borderSecondary-1;
			
			padding: 30px;
			// padding-top: 20px;
			cursor: pointer;
			&:hover {
				background-color: $bgSecondary;
				color: $ninth;
				box-shadow: $box-shadow;
				// border: $borderPrimary-2;
				-webkit-transition: background-color 200ms linear;
				-ms-transition: background-color 200ms linear;
				transition: background-color 200ms linear;
			}
		}
	}
}
