.main-fill {
	// width: 100vw;
	// height: 100vh;
	justify-content: center;
	align-items: center;
	z-index: 0;
	background: inherit;

	.main {
		height: 100vh;
		background-color: blue;
		width: 100vw;

		.container {
            border: 4px solid black;
            border-radius: 50px;
            background-color: yellow;
            margin-right: 10px;
            margin-left: 30px;
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 40px;
            // padding-bottom: 200px;
            width: 100%;
			flex-direction: column;
		}
	}
}
