html,
body {
	margin: 0;
	padding: 0 !important;
	height: 100vh;
	width: 100vw;
}
body {
	overflow-y: scroll !important;
	overflow-x: hidden;
	background: $bgEverything;
	background-attachment: fixed;
}
a{
	text-decoration: none;
	color: $letterSecondary;
}

* {
	box-sizing: border-box;
}

#root * {
	display: flex;
}

#root {
	// background-color: $fifth;
	overflow-x: hidden;
}

.no-selectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
