// basic colors
$zero: #191f2d;
$primary: #002731;
$secondary: #fff;
$tertiary: #000;
$forth: #001f33;
$fifth: rgb(236, 236, 236);
$sixth: #4b4b4b;
$seventh: #34363e;
$eight: #1d1e22;
$ninth: #1d6a78;
$tenth: #14505b;
$eleventh: #d3d3d3;

// main colors - bg and main
$bgEverything: linear-gradient(rgba($eight, 1), rgba($tertiary, 1));
$bgEverythingInverse: linear-gradient(rgba($tertiary, 1), rgba($eight, 1));
$bgZero: linear-gradient(rgba($zero, 1), rgba($primary, 1));
$bgZeroInverse: linear-gradient(rgba($primary, 1), rgba($zero, 1));
$borderZero: $sixth solid 1px;
$textZero: $fifth;
$box-shadowZero: 0px 0px 15px $secondary;
$border-radiusZero: 5px;

// Menus
$bgWhiteGradient: linear-gradient(rgba($fifth, 1), rgba($eleventh, 1));
$bgFilter: linear-gradient(rgba($primary, 1), rgba($forth, 1));
$bgOptions: linear-gradient(rgba($ninth, 1), rgba($tenth, 1));
$bgMenu: linear-gradient(rgba($ninth, 1), rgba($tenth, 1));

// Basic assets
$wave: url("../../assets/svgs/wave.svg");

//Bg Colors
$bgPrimary: $primary;
$bgSecondary: $secondary;
$bgTertiary: $tertiary;

//Border Colors
$borderPrimary-1: 1px solid $primary;
$borderPrimary-2: 2px solid $primary;
$borderPrimary-3: 3px solid $primary;
$borderPrimary-5: 5px solid $primary;
$borderSecondary-1: 1px solid $secondary;
$borderSecondary-2: 2px solid $secondary;
$borderSecondary-3: 3px solid $secondary;
$borderSecondary-5: 5px solid $secondary;
$borderTertiary-1: 1px solid $tertiary;
$borderSixth-1: 1px solid $sixth;
$borderSixth-2: 2px solid $sixth;
$borderSixth-3: 3px solid $sixth;
$borderNinth-1: 1px solid $ninth;
$borderNinth-2: 2px solid $ninth;
$borderNinth-3: 3px solid $ninth;

// letter color
$letterPrimary: $tertiary;
$letterSecondary: $secondary;
$letterTertiary: $primary;

// box-shadow Color
$bsPrimary: $tertiary;

// icon-colors
$warning: #bda102;
$info: #d7d7d7;
$question: #87adbd;
$success: #a5dc86;
$error: #f27474;

// box-shadow
$box-shadow: 0px 0px 15px $bsPrimary;

//border-radius
$border-radius: 20px;
